<div class="home-banner">
    <h1>Movies on Rails</h1>

    <p>
        <span id="banner-typed-text"></span>
    </p>
    <%= link_to "Ver Filmes Disponíveis", filmes_path, class: "btn btn-primary" %>
    </div>
</div>