.home-banner {
    background-image: url('http://www.agenciabrasilia.df.gov.br/wp-conteudo/uploads/2017/08/anuncio_mostra_competitiva_festival_cinema_2017_Agencia_Brasilia.gif');
    background-size: center;
    height: 95vh;
    color: #eee;
    text-align: center;
    padding-top: 40vh;
  } 